<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core">
    
<h:panelGrid columns="2" styleClass="formTable">

	#{msgs.nombre} 
	<h:panelGroup>
		<h:inputText 
			value="#{controller.alumno.nombre}" 
			required="true"
			requiredMessage="#{msgs.formAlta_nombre_requiredMessage}"
			validatorMessage="#{msgs.formAlta_nombre_validatorMessage}"
			id="nombre">
			
			<f:validateLength maximum="20" />
		</h:inputText>
		<h:message for="nombre" />
	</h:panelGroup>
  
 	#{msgs.apellidos} 
	<h:panelGroup>
		<h:inputText 
			value="#{controller.alumno.apellidos}"
            required="true"
            requiredMessage="#{msgs.formAlta_apellidos_requiredMessage}"
            validatorMessage="#{msgs.formAlta_apellidos_validatorMessage}"
            id="apellidos">
            
    		<f:validateLength  maximum="40"/>           
    	</h:inputText>
    	<h:message for="apellidos"/>
    </h:panelGroup>
  
	#{msgs.userid}
	<h:panelGroup>
		<h:inputText value="#{controller.alumno.iduser}"
			required="true"
			requiredMessage="#{msgs.formAlta_iduser_requiredMessage}"
			validatorMessage="#{msgs.formAlta_iduser_validatorMessage}"
			id="iduser">
			
			<f:validateLength minimum="5" maximum="8"/>           
		</h:inputText>
		<h:message for="iduser"/>
	</h:panelGroup>  
  
	#{msgs.correo}
	<h:panelGroup> 
		<h:inputText value="#{controller.alumno.email}"
			required="true"
			requiredMessage="#{msgs.formAlta_correo_requiredMessage}"
			validatorMessage="#{msgs.formAlta_correo_validatorMessage}"
			id="correo">
			
			<f:validateRegex pattern=".+@.+\.[a-z]+"/>           
		</h:inputText>
		<h:message for="correo"/>
	</h:panelGroup>
  
	<h:commandButton 
		value="#{msgs.botonSalvar}" 
		action="#{controller.salva}">
		  
		<f:ajax execute="@form" render="@form :form-pie"/>                   
	</h:commandButton>
	 
</h:panelGrid>
</ui:composition>