<form method="POST" action="j_security_check">
<table>
	<tr>
		<td>login:</td>
		<td><input type="text" name="j_username"></td>
	</tr>
	<tr>
		<td>pass:</td>
		<td><input type="password" name="j_password"></td>
	</tr>
	<tr>
		<td colspan="2">
		<div align="right"><input type="submit" value="Log in"/></div>
		</td>
	</tr>
</table>
</form>