<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
  
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets">

<f:view locale="#{settings.locale}">
<h:head>
	<title>#{msgs.tituloHead}</title>
</h:head>

<h:body>
	<h:form id="form-cabecera">
		<center>
			<h1>#{msgs.tituloAplicacion1}</h1>
			<h2>#{msgs.tituloAplicacion2}</h2>
		</center>
		<table border="1" align="center">
		<tr><th class="title">
		
			<ui:insert name="titulo">#{msgs.tituloDefectoCabecera}</ui:insert>
			
		</th></tr>
		</table>
	</h:form>

	<ui:insert name="cuerpo">#{msgs.tituloDefectoCuerpo}</ui:insert>

	<ui:insert name="pie">#{msgs.tituloPie}</ui:insert>

</h:body>
</f:view>
</html>